<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Leaderboard</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <h1>Top Players</h1>
        <table>
            <thead>
            <tr>
                <th>Rank</th>
                <th>Username</th>
                <th>Rating</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="player, i : ${topPlayers}">
                <td th:text="${i.index + 1}"></td>
                <td th:text="${player.username}"></td>
                <td th:text="${player.points}"></td>
            </tr>
            </tbody>
        </table>
    </section>
</main>
</body>
</html>